.header {
    padding: 10px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 20px;
}
.sign{
    margin-right:-0px ;
}
.login{
    margin-right:-1100px ;
}
